@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: x-large;
    color: grey;
    text-align: center;
}

.texto-centrado {
    text-align: center;
}

.detalle-carrito-div {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.tabla-carrito {
    width: 50%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 80%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }